// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$linenblue: #333;
$lineninfo: #B0DEDB;
$linenlogo: #49D0AC;

$good_impact: $linenblue;
$normal_impact: orange;
$bad_impact: $linenblue;
