// Specific CSS for your home-page
h1 {
  color: rgb(40, 40, 40);
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
h1.homepage {
  color: white;
  font-size: 95px;
  font-weight: 600;
  margin: 20px 0;
}
h2 {
  color: rgb(40, 40, 40);
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}
h2.homepage {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.container-home {
  width: 100%;
  padding: 0;
}
.banner-content {
  text-align: center;
  margin-bottom: 60px;
}
.image-banner {
  display: flex;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.flexbox-center {
  display: flex;
  width: auto;
  align-items: center;
}
.btn-home {
  border-radius : 1px;
  margin-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border: 0;
  font-family: Abel;
  font-weight: bold;
  opacity: 0.9;
  letter-spacing: 1.6px;
  background: $linenblue;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

}
.btn-home:hover {
  border: 0;
  background: $linenblue;
  opacity: 1;
}
input::placeholder {
  font-size: 20px;
}
