<div class="container">
  <div class="image-banner" style="background-image: url(<%= image_path 'linen_home_image.jpg' %>);">
    <div class="banner-home">
      <div class="banner-content">
        <h1 class="homepage">Linen Chrome extention</h1>
        <h2 class="homepage">The best information in order to guide clothing purchases</h2>
        <div class="center">
          <input type="button" class="btn btn-primary btn-lg btn-home" value="Add extension!" onclick="location.href = 'https://chrome.google.com/webstore/detail/linen/diblbmddkoplommfcddolpgapnbcbcne';">
          </input>
        </div>
      </div>
    </div>
  </div>
</div>
