<div class="container-home">
  <%= render 'shared/navbar' %>
  <div class="image-banner" style="background-image: linear-gradient(to left, rgba(210,210,210,0.2), rgba(210,210,210,0.9)), url(<%= image_path 'ext_screenshot.jpg' %>);">
<!--     <div class="banner-home"> -->
      <div class="banner-content">
        <h1 class="homepage">Linen app</h1>
        <h2 class="homepage">
          The best tool to respect your values
          <br>
          while shopping
        </h2>
        <div class="center">
          <input type="button" class="btn btn-primary btn-lg btn-home" value="Add extension"
          onclick="window.open('https://chrome.google.com/webstore/detail/linen/diblbmddkoplommfcddolpgapnbcbcne','_blank');">
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
