<style type="text/css">
  .photo img {
    width: 150px;
    display: flex;
  }

  .alternatives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

</style>


<div class= "alternatives">
  <h1>Kikou</h1>
  <div class="photo">
    <% @item.alternatives.each do|alternative| %>
        <%= image_tag alternative.photo%>
    <% end %>
  </div>
</div>



