<style type="text/css">
  .alternatives {
    display: flex;
    flex-direction: column;
  }

  .alternative-show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo img {
    width: 150px;
  }

  .alternative-others {
  }

  .alternative {
  }
</style>

<div class="alternatives">
  <div class="alternative-show">
    <div class="photo">
    <% first_alternative = alternatives.first %>
    <%= image_tag first_alternative.photo, class: "first_photo" %>
    </div>
    <div class="right"></div>
  </div>

</div>

