.bad_impact {
  background-color: $red;
}
.normal_impact {
  background-color: $orange;
}
.good_impact {
  background-color: $linenlogo;
}
.grade_bad_impact {
  color: $red;
}
.grade_normal_impact {
  color: $orange;
}
.grade_good_impact {
  color: $linenlogo;
  font-weight: bold;
}
