.selections {
  display: flex;
  justify-content: space-between;
}
.left-nav-container {
  flex: 0 0 300px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  position: sticky;
  top: 10px;
  left: 0px;
  height: 100%;
}
.container-selections {
  flex-grow: 1;
  margin: 0 10px;
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  padding: 30px 30px;
  background-color: white;
  margin: 15 15px;
  margin-top: 15px;
}

.item-image {
  width: 200px;
  border-radius: 1px;
}
.item-description {
  flex: 1 0 auto;
  padding: 0px 20px;
  position: relative;
  h2 {
    font-size: 22px;
    margin: 0;
    margin-right: 10px;
  }
  h3 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
  }
}
.market-place-btn {
  position: absolute;
  font-size: 14px;
  bottom: -13px;
  right: 20px;
  font-style: italic;
}

.impact-description {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.total-score {
  margin-right: 20px;
  flex: 0 0 120px;
  width: 120px;
  height: 120px;
  border-radius: 1px;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  p {
    position: absolute;
    bottom: 5px;
    right: 10px;
    margin: 0;
  }
  h1 {
    position: absolute;
    top: 20px;
    left: 18px;
    margin: 0;
    color: white;
  }
}

.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score {
  margin-left: 20px;
  width: 150px;
  display: flex;
  flex-direction: row-reverse;
}
.impact-detail-description {
  font-size: 16px;
  flex-grow: 1;
  margin: 6px 0px;
  p {
    margin: 0;
  }
}
.evaluation-rules {
  font-size: 13px;
  color: $linenblue;
  opacity: 0.7;
  p {
    margin: 0;
  }
}

.title-item {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;
  h3 {
    margin-left: 10px;
    font-weight : lighter;
    font-size: 15px;
    margin-top: 5px;
  }
  p {
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 15px;
  }
}
.title-item > a {
 display: flex;
 text-decoration: none;
}
.first-line {
  display: flex;
  justify-content: space-between;
  .cancel {
    font-size: 25px;
    opacity: 0.8;
  }
  .cancel:hover {
    color: $red;
  }
}
