.container {
  width: 80%;
  h1 {
    margin: 30px 0;
  }
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  padding: 30px 50px;
  background-color: white;
  margin: 15 20px;
  margin-top: 15px;
}

.item-image {
  width: 200px;
  border-radius: 4px;
}
.item-description {
  flex-grow: 1;
  padding: 0px 20px;
  position: relative;
  h2 {
    font-size: 22px;
    margin: 0;
  }
  h3 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
  }
}
.market-place-btn {
  position: absolute;
  font-size: 14px;
  bottom: -13px;
  right: 20px;
  font-style: italic;
}

.impact-description {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.total-score{
  margin-right: 20px;
  flex: 0 0 15%;
  background-color: #E44754;
  height: 110px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;

}
.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score {
  margin-left: 20px;
}
.impact-detail-description {
  font-size: 16px;
  flex-grow: 1;
  margin: 6px 0px;
  p {
    margin: 0;
  }
}
.evaluation-rules {
  font-size: 13px;
  color: $linenblue;
  opacity: 0.7;
  p {
    margin: 0;
  }
}

.title-item {
  display: flex;
  justify-content: space-evently;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;
  h3 {
    margin-left: 10px;
    font-weight : lighter;
    font-size: 15px;
    margin-top: 5px;
  }
}
.first-line {
  display: flex;
  justify-content: space-between;
  .cancel {
    height: 15px;
  }
}
