.container h1 {
  margin: 30px 0;
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  padding: 30px 50px;
  background-color: white;
  margin: 15 20px;
  margin-top: 15px;
}
.item:first-child {
  margin-top: 5px;
}
.item:last-child {
  margin-bottom: 5px;
}
.item:last-child {
  border-bottom: none;
}
.item-image {
  width: 200px;
  border-radius: 4px;
}
.item-description {
  flex-grow: 1;
  padding: 0px 20px;
  position: relative;
}
.item-description h2 {
  font-size: 22px;
  margin: 0;
}
.item-description h3 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.market-place-btn {
  position: absolute;
  font-size: 14px;
  bottom: -13px;
  right: 20px;
  font-style: italic;
}

.impact-description {
  margin: 10px 0;
}
.impact-detail {
  display: flex;
  align-items: center;
}
.impact-detail-description {
  font-size: 16px;
  flex-grow: 1;
  // max-width: 500px;
  margin: 6px 0px;
}
.impact-detail-description p {
  margin: 0;
}
.evaluation-rules {
  font-size: 13px;
  color: $linenblue;
  opacity: 0.7;
}
.impact-detail-value p {
  margin: 0;
}
.status {
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
}
.good_impact {
  color: #04A366;
}
.bad_impact {
  color: red;
}
.normal_impact {
  color: orange;
}
.item-photo-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.title-item {
  display: flex;
  justify-content: space-evently;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;
  h3 {
    margin-left: 10px;
    font-weight : lighter;
    font-size: 15px;
    margin-top: 5px;
  }
}
.first-line {
  display: flex;
  justify-content: space-between;
.cancel {
  height: 15px;
}
}

