section, div {
  box-sizing: border-box;
}
section {
  flex: 1 0 auto;
  width: 80%;
}
.arrow {
  position: relative;
  width: 100%;
  border: 1px solid rgba(220,224,244,0.4);
  height: 2em;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.arrow-status {
  text-align: right;
  padding-right: .5em;
  background-color: $lineninfo;
  opacity: 0.7;
  border-color: white;
  color: white;
  height: 100%;
  line-height: 1.2em;
  min-width: 9%;
  -webkit-animation: width .5s ease-in;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.arrow-pointer2 {
  background-color: white;
  display: inline-block;
  width: 1em;
  height: 3em;
  position: relative;
  left: 100%;
  top: -1em;
  margin-left: -2em;
  margin-bottom: -2em;
  border-radius: 0 5px 5px 0;
}

@-webkit-keyframes width {
  from { width: 0%; }
}
